[Unit]
Description=Monitor of power outages and outage times.
After=network-online.target time-sync.target

[Service]
Type=simple
Restart=no
User=panjekm
ExecStart=/usr/bin/python3 /home/panjekm/codebase/power_outage_monitor/monitor.py --boot

[Install]
WantedBy=multi-user.target